.vehicleDashboard {
  margin: 20px;
  height: auto;
  font-size: 1.2em;
}
mat-card {
  padding: 0;
  padding-bottom: 15px;
  height: 200px;
}

#titleBox {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  background-color: #455a64;
  margin: 0;
}
mat-card-title {
  color: #ffffff;
}
// input{
//   font-size: 1.2em;
//   margin: 5px;
//   font-weight: bold;

// }
#itensBlock {
  margin: 20px;
}

#monthBillingBox,
#nextBillingBox,
#monthExpenseBox,
#totalPenddingPaymentsBox {
  padding-top: 5px;
  margin: 5px;
}
label {
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  color: black;
}
#monthBilling,
#nextBilling,
#monthExpense,
#totalPenddingPayments {
  margin-right: 5px;
  margin-top: 0;
  padding-bottom: 5px;
  margin-left: auto;
  width: auto;
  // border: 1px solid red;
  border: none;
  display: block;
  text-align: right;
  color: black;
  font-size: 1.3em;
  font-weight: 500;
}

#monthBillingBox {
  background-color: rgb(28, 28, 190, 0.7);
}

#monthBilling {
  background-color: rgb(28, 28, 190, 0.02);
}

#nextBillingBox {
  background-color: rgb(29, 122, 29, 0.7);
}

#nextBilling {
  background-color: rgb(29, 122, 29, 0.02);
}

#monthExpenseBox {
  background-color: rgb(212, 212, 41, 0.8);
}

#monthExpense {
  background-color: rgb(212, 212, 41, 0.02);
}

#totalPenddingPaymentsBox {
  background-color: rgb(190, 27, 27, 0.8);
}

#totalPenddingPayments {
  background-color: rgb(190, 27, 27, 0.02);
}

mat-card-content {
  margin-bottom: 30px;
  height: 225px;
}

#buttons {
  justify-content: flex-end;
  height: 30px;
  margin-right: 20px;
  padding-bottom: 5px;
}

button {
  float: right;
}
