<mat-card class="vehicleDashboard">
  <mat-card-title>Meus Veículos</mat-card-title>
  <mat-card-content>
    <div id="informationBlock">
      <h2>Posição Estoque</h2>
      <div id="itensBlock">
        <input matInput id="totalVehicles" type="text" readonly name="totalVehicles" value="44 veículos no estoque">
        <input matInput id="rentalVehicles" type="text" readonly name="rentalVehicles" value="28 veículos locados">
        <input matInput id="maintenanceVehicle" type="text" readonly name="maintenanceVehicles" value="02 veículos em manutenção">
        <input matInput id="availableVehicles" type="text" readonly name="availableVehicles" value="14 veículos disponíveis">
      </div>
    </div>
    <div id="informationBlock">
      <h2>Resumo Financeiro</h2>
      <div id="itensBlock">
        <input matInput id="maintenanceExpense" type="text" readonly name="maintenanceExpense" value="R$  3.200,00 gastos em manuntenção (30 dias)">
        <input matInput id="operationalResult" type="text" readonly name="operationalResult" value="R$ 18.500,00 - Resultado Operacional Bruto (30 dias)">
      </div>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <div id="buttons">
      <button color="primary" mat-raised-button>Acessar Veículos</button>
    </div>

  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
