#cardHeader {
  width: 100%;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  // border: 1px solid red;
  margin: auto;
  height: 50px;
  color: #00796b;
}

#cardForm {
  width: 90%;
  height: fit-content;
  color: black;
  border: 1px solid black;
  margin: auto;
}

#mainContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
}
#firstLine {
  display: grid;
  grid-template-columns: 70% auto;
}
#secondLine {
  display: grid;
  grid-template-columns: auto 30% 30%;
}

#thirdLine {
  display: grid;
  grid-template-columns: 15% auto 15%;
}
#fourthLine {
  display: grid;
  grid-template-columns: 25% 25% auto 10%;
}
#fifthLine {
  display: grid;
  grid-template-columns: 60% auto;
}
mat-form-field {
  width: 100%;
}

.formBlocks {
  width: 100%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
}


label {
  // border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  float: right;
}



mat-card-actions {
  width: 99%;
  margin: auto;
  margin-top: 5px;
  height: fit-content;
  padding: 0px;
  text-align: center;
}

legend,
input {
  color: black;
}

mat-label {
  color: black;
}

.mat-input-element::placeholder {
  color: gray;
}

#formHeader {
  height: 50px;
  font-size: 20px;
  margin: auto;
  border: 1px solid black;
  width: 100%;
}




