<!-- <div id="header">
  <a id="arrowBack" [routerLink]="['/main/clients']">
    <mat-icon id="arrowBackIcon">arrow_back</mat-icon>
  </a>

</div> -->
<div id="mainContent">
  <mat-card id="cardForm">
    <div id="cardHeader"> {{clientId ? 'Editar' : 'Novo'}} Cliente</div>
    <mat-card-content>
      <form [formGroup]="clientForm" class="full-width">

        <div class="formBlocks">
          <div id="firstLine">
            <mat-form-field class="formField" color="warn" appearance="fill">
              <mat-label>Nome:</mat-label>
              <input matInput id="name" formControlName="name" type="text" placeholder="Digite o nome do cliente" />
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>Data de nascimento: </mat-label>
              <input matInput id="birthDate" formControlName="birthDate" type="date" placeholder="DD/MM/YYYY" />
            </mat-form-field>
          </div>

          <div id="secondLine">
            <mat-form-field class="formField" appearance="fill">
              <mat-label>Sexo:</mat-label>
              <select matNativeControl required formControlName="gender">
                <option value="SELECIONE">Selecione</option>
                <option value="MASCULINO">Masculino</option>
                <option value="FEMININO">Feminino</option>
                <option value="NAOINFORMADO">Não desejo informar</option>
              </select>
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>CPF: </mat-label>
              <input matInput id="cpf" formControlName="cpf" type="text"
                mask="000.000.000-00" placeholder="Digite o CPF do cliente" />
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>CNH: </mat-label>
              <input matInput id="cnh" formControlName="cnh" type="text" placeholder="Digite a cnh do cliente" />
            </mat-form-field>
          </div>

          <form formArrayName="addresses" class="full-width">
            <div formGroupName=0>
              <div id="thirdLine">
                <mat-form-field class="formField" appearance="fill">
                  <mat-label>CEP: </mat-label>
                  <input matInput id="cep" formControlName="cep" type="text" mask="00000-000" placeholder="Digite o CEP" />
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                  <mat-label>Endereço: </mat-label>
                  <input matInput id="street" formControlName="street" type="text" placeholder="Endereço" />
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                  <mat-label>Número: </mat-label>
                  <input matInput id="number" formControlName="number" type="text" placeholder="Nro." />
                </mat-form-field>
              </div>
              <div id="fourthLine">
                <mat-form-field class="formField" appearance="fill">
                  <mat-label>Complemento: </mat-label>
                  <input matInput id="complement" formControlName="complement" type="text" placeholder="complemento" />
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                  <mat-label>Bairro: </mat-label>
                  <input matInput id="district" formControlName="district" type="text" placeholder="bairro" />
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                  <mat-label>Cidade: </mat-label>
                  <input matInput id="city" formControlName="city" type="text" placeholder="cidade" />
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                  <mat-label>UF: </mat-label>
                  <input matInput id="uf" formControlName="uf" type="text" placeholder="uf" />
                </mat-form-field>
              </div>
            </div>
          </form>

          <form formArrayName="contacts" class="full-width">
            <div id="fifthLine">
              <div id="email">
                <div formGroupName=0>
                  <mat-form-field class="formField" appearance="fill">
                    <mat-label>E-mail:</mat-label>
                    <input matInput id="email" formControlName="description" type="email"
                           />
                  </mat-form-field>
                </div>
              </div>
              <div id="phone">
                <div formGroupName=1>
                  <mat-form-field class="formField" appearance="fill">
                    <mat-label>Telefone: </mat-label>
                    <input matInput id="phone" formControlName="description" type="text"
                        prefix="+55 " mask="(00) 00000-0000" placeholder="Informe um telefone válido" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>

        <mat-card-actions>
          <button class="formButton" mat-raised-button color="primary" (click)="addClient()">
            Salvar
          </button>
          <button class="formButton" mat-raised-button color="secondary" (click)="onCancel()">
            Cancelar
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
