<mat-card class="client-card">

  <h1>Cadastro de Cliente</h1>

  <mat-card-content *ngIf="client$ | async as client">

    <h2>Dados Pessoais</h2>

    <div id="firstLine">

      <div class="inputs">
        <label>Nome: </label>
        <input matInput type="text" readonly name="name" [(ngModel)]="client.name" type="text">

      </div>

      <div class="inputs">
        <label>Data de Nascimento: </label>
        <input matInput type="date" readonly name="birthDate" [(ngModel)]="client.birthDate">
      </div>
    </div>

    <div id="secondLine">

      <div class="inputs">
        <label>Sexo:</label>
        <input matInput type="text" readonly name="gender" [(ngModel)]="client.gender">
      </div>

      <div class="inputs">
        <label>CPF:</label>
        <input type="text" readonly name="cpf" mask="000.000.000-00" [(ngModel)]="client.cpf">
      </div>

      <div class="inputs">
        <label>CNH:</label>
        <input matInput type="text" readonly name="cnh" [(ngModel)]="client.cnh">
      </div>

    </div>

    <h2>Endereço</h2>
    <div id="thirdLine">
      <mat-card-content>
        <mat-card-subtitle>CEP:</mat-card-subtitle>
        <input type="text" readonly name="cep" mask="00000-000" [(ngModel)]="client.addresses[0].cep">
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>Endereço:</mat-card-subtitle>
        <input type="text" readonly name="street" [(ngModel)]="client.addresses[0].street">
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>Número:</mat-card-subtitle>
        <input type="text" readonly name="number" [(ngModel)]="client.addresses[0].number">
      </mat-card-content>
    </div>

    <div id="fourthLine">
      <mat-card-content>
        <mat-card-subtitle>Complemento:</mat-card-subtitle>
        <input type="text" readonly name="complement" [(ngModel)]="client.addresses[0].complement">
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>Bairro:</mat-card-subtitle>
        <input type="text" readonly name="district" [(ngModel)]="client.addresses[0].district">
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>Cidade:</mat-card-subtitle>
        <input type="text" readonly name="city" [(ngModel)]="client.addresses[0].city">
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>UF:</mat-card-subtitle>
        <input type="text" readonly name="uf" [(ngModel)]="client.addresses[0].uf">
      </mat-card-content>
    </div>
    <div id="fifthLine">
      <mat-card-content>
        <mat-card-subtitle>E-mail:</mat-card-subtitle>
        <input type="text" readonly name="description" [(ngModel)]="client.contacts[0].description">
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>Telefone:</mat-card-subtitle>
        <input type="text" readonly name="description" prefix="+55" mask="(00) 0000-0000"
               [(ngModel)]="client.contacts[1].description">
      </mat-card-content>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addBooking(client.id)">
        Efetuar Reserva
      </button>
      <button mat-raised-button color="secondary" (click)="edit(client.id)">
        Editar
      </button>
      <button mat-raised-button color="secondary" (click)="onCancel()">
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>
