#arrowBack {
  margin-left: 0px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex: 0;
}
a {
  text-decoration: none;
  color: white;
}

#header {
  display: flex;
  margin-top: 10px;
  height: 50px;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
}

#arrowBackIcon {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.client-card {
  width: 90%;
  height: fit-content;
  color: black;
  border: 1px solid black;
  margin: auto;
}
mat-card-header {
  margin: 0;
  padding-left: 0;
}
h1 {
  color: #00796b;
}

h2 {
  border-bottom: #00796b 1px solid;
}

mat-card-subtitle {
  margin: 0;
}
input {
  border: none;
  width: 100%;
  font-size: 1.1em;
  outline: none;
}

#firstLine {
  display: grid;
  grid-template-columns: 70% auto;
  margin-bottom: 10px;
}
#secondLine {
  display: grid;
  grid-template-columns: auto 30% 30%;

  padding-bottom: 5px;
  margin-bottom: 5px;
}
#thirdLine {
  display: grid;
  grid-template-columns: 20% auto 10%;
}
#fourthLine {
  display: grid;
  grid-template-columns: 20% 25% auto 10%;
}
#fifthLine {
  display: grid;
  grid-template-columns: 45% auto;
  border-bottom: #00796b 1px solid;
}
button {
  float: right;
}
mat-card-actions {
  height: 30px;
  padding-right: 20px;
}

label {
  color: grey;
}
