<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Alocar</title>
  </head>
  <body class="container full-height-grow" >
    <header class="main-header">
      <a  class="brand-logo">
        <div class="brand-logo-name">AlôCar</div>
        <img src="../../../assets/logoAlo.png" alt="Logo AloCar"/>
      </a>
      <!-- <nav class="main-nav">
        <ul>
          <li><a [routerLink]="['/home/login']">Log in</a></li>
        </ul>
      </nav> -->
    </header>
    <div class="home-page-circle-3"></div>
    <section class="home-main-section">
        <div class="call-to-action">
            <h1 class="title">O alôCar, bip, bip</h1>

            <span class="subtitle">Seu sistema de gerência de carros</span>
            <a [routerLink]="['/home/login']" class="btn">Fazer Log in</a>
        </div>
        <div class="img-wrapper">
          <div class="car-image"></div>
        </div>
    </section>
    <div class="home-page-circle-1"></div>

  </body>
</html>


