<div id="mainContent">
  <mat-card id="cardForm">
    <div id="cardHeader">
      <p> Locação </p>
    </div>
    <mat-card-content>
      <form [formGroup]="form" class="min-width">

        <div class="formBlocks">

          <div class="formLines" id="firstLine">
            <!-- Neste form as informações não são necessárias para criar locação -->
            <form [formGroup]="optionalForm" id="optionalForm">
              <mat-form-field class="formField" appearance="fill">
                <mat-label>Cliente: </mat-label>
                <input readonly matInput id="model" formControlName="clientName" type="text"
                       placeholder="Digite o ano do veículo" />
              </mat-form-field>

              <mat-form-field class="formField" appearance="fill">
                <mat-label>Selecione categoria:</mat-label>
                <mat-select [disabled]="true" formControlName="categoryId">
                  <mat-option *ngFor="let category of categories" [value]="category.id"
                              (onSelectionChange)="updateVehicles(category.id)" compareWith="compararObjetos">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>Selecione veículo:</mat-label>
              <mat-select formControlName="vehicleId">
                <mat-option *ngFor="let vehicle of vehicleByCategory" [value]="vehicle.id"
                            compareWith="compararObjetos">
                  {{vehicle.vehicleModel}} - {{vehicle.licensePlate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="formLines" id="secondLine">
            <mat-form-field class="formField" appearance="fill">
              <mat-label>Data Inicial: </mat-label>
              <input matInput id="model" formControlName="pickUpDate" type="date"
                     placeholder="Digite o ano do veículo" />
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>Data Final: </mat-label>
              <input matInput id="model" formControlName="dropOffDate" type="date"
                     placeholder="Digite a data de retirada" />
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>Tipo de locação:</mat-label>
              <mat-select formControlName="rentalType">
                <mat-option (onSelectionChange)="updatePriceValue(rentalType, $event)"
                            *ngFor="let rentalType of rentalTypes" [value]="rentalType">
                  {{ rentalType | rentalType }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
              <mat-label>Valor total:</mat-label>
              <input matInput formControlName="totalValue" mask="separator.2" [thousandSeparator]="'.'"
                     [decimalMarker]="','" prefix="R$" type="text" placeholder="Digite o valor previsto" />
            </mat-form-field>

          </div>
        </div>
        <mat-card-actions>
          <button class="formButton" mat-raised-button color="primary" (click)="onSubmit()">
            Salvar
          </button>
          <button class="formButton" mat-raised-button color="secondary" (click)="onCancel()">
            Cancelar
          </button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>
