<div id="vehiclesMenu">
  <div class="vehiclesOptions">
    <div class="vehiclesImage">
      <img src="../../../assets/car.svg" />
        <button mat-raised-button color="primary">Adicionar</button>
    </div>
  </div>

  <div class="vehiclesOptions">
    <div class="vehiclesImage">
      <img src="../../../assets/document_outlined.svg" />
        <button mat-raised-button color="primary" (click)="vehicleList()">Listar</button>
    </div>
  </div>


  <div class="vehiclesOptions">
        <div class="vehiclesImage">
      <img src="../../../assets/brush.svg" />
        <button mat-raised-button color="primary">Editar</button>
    </div>
  </div>
</div>
