#cardHeader {
  width: 100%;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  // border: 1px solid red;
  margin: auto;
  height: 30px;
  color: #00796b;
}

#cardHeader p {
  border-bottom: 1px solid;
  width: 100%;
  padding: 0 0 10px 5px;
}

#cardForm {
  width: 70%;
  height: fit-content;
  color: black;
  border: 1px solid black;
  margin: auto;
}

#mainContent {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

fieldset {
  // border: 1px solid red;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 30px 10px 30px;
}

.formBlocks {
  width: 100%;
  // border: 1px solid red;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #00796b;
  margin: 0px;
}

.formField {
  width: 90%;
}

input {
  height: 20px;
  border-radius: 5px;
  width: 100%;
}

label {
  // border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

mat-select {
  height: 19px;
}

mat-card-actions {
  width: 99%;
  margin: auto;
  height: fit-content;
  padding: 0px;
  text-align: center;
  // border: 1px solid red;
}

legend,
input {
  color: black;
}

mat-label {
  color: black;
}

.mat-input-element::placeholder {
  color: gray;
}

#formHeader {
  height: 50px;
  font-size: 20px;
  margin: auto;
  border: 1px solid black;
  width: 100%;
}

div.ng-tns-c106-2 {
  border: 1px solid black;
  border-radius: 5px;
}

mat-radio-button {
  justify-content: center;
  margin-left: 16px;
}

mat-radio-group {
  width: 90%;
}

.formLine {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.vehicleFinances {
  border-top: 1px solid #00796b;
  padding: 10px 0;
  width: 100%;
  margin: auto;
  text-align: left;
  display: flex;
}

.vehicleFinances button {
  margin-left: 5px;
  margin-right: 5px;
}

#submit {
  text-align: right;
}

#finances {
  width: 100%;
  text-align: center;
}

#firstLine {
  padding: 10px;
  // border: 1px solid red;
  text-align: center;
}

.inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
}
