<div id="mainContent">
  <mat-card id="cardForm">
    <div id="cardHeader">
      <p>Detalhes Veículo</p>
    </div>
    <mat-card-content>
      <form [formGroup]="form" class="min-width">

        <div id="firstLine" class="formBlocks">
          <mat-radio-group [disabled]="true" formControlName="vehicleStatus" class="example-radio-group">
            <mat-label>Status: </mat-label>
            <mat-radio-button class="example-radio-button" *ngFor="let sts of status" [value]="sts">
              {{sts | vehicleStatusPipe }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="formLine" formGroupName="category">
          <div class="inputs">
            <label>Categoria: </label>
            <input readonly matInput readonly formControlName="name" type="text"
                   placeholder="Digite o ano do veículo" />

          </div>
          <!-- <mat-option *ngFor="let category of categories" [value]="category.id"
                          (onSelectionChange)="updatePriceValue($event, category.id)" compareWith="compararObjetos">
                {{category.name}}
              </mat-option>
            </mat-select> -->


          <div class="inputs">
            <label> Valor diária: </label>
            <input matInput readonly prefix="R$" mask="separator.2" id="model" formControlName="dayPrice" type="text"
                   placeholder="Digite o ano do veículo" />
          </div>

          <div class="inputs">
            <label>Valor semanal: </label>
            <input matInput readonly prefix="R$" mask="separator.2" id="model" formControlName="weekPrice" type="text"
                   placeholder="Digite o ano do veículo" />

          </div>
        </div>

        <div class="formLine">

          <div class="inputs">
            <label>Modelo: </label>
            <input readonly matInput id="model" formControlName="vehicleModel" type="text"
                   placeholder="Digite o modelo do veículo" />
          </div>

          <div class="inputs">
            <label>Ano:</label>
            <input readonly matInput id="model" formControlName="vehicleYear" type="text"
                   placeholder="Digite o ano do veículo" />
          </div>

          <div class="inputs">
            <label>Renavam:</label>
            <input readonly matInput id="model" formControlName="renavam" type="text"
                   placeholder="Digite o Renavam do veículo" />
          </div>
        </div>

        <div class="formLine">

          <div class="inputs">
            <label>Placa:</label>
            <input readonly matInput formControlName="licensePlate" type="text"
                   placeholder="Digite o placa do veículo" />
          </div>

          <div class="inputs">
            <label>Chassi:</label>
            <input readonly matInput formControlName="chassi" type="text" placeholder="Digite o Chassi do veículo" />
          </div>

          <div class="inputs">
            <label>Quilometragem:</label>
            <input readonly matInput suffix="km" mask="separator.1" thousandSeparator="." formControlName="mileage"
                   type="text" placeholder="Digite o Chassi do veículo" />
          </div>
        </div>

        <mat-card-actions class="vehicleFinances">

          <div id="finances">

            <button mat-raised-button (click)="onCancel()">Cancelar</button>

            <button (click)="vehicleBalance()" mat-raised-button color="primary"> Ver Demonstrativo </button>
            <button mat-raised-button (click)="onAddExpenseClick(vehicleId)" color="primary"> Adicionar Despesa
            </button>
          </div>

        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
