<div id="mainContent">
  <mat-card id="cardHeader">Novo Veículo</mat-card>
  <mat-card id="cardForm">
    <mat-card-content>
      <form [formGroup]="form" class="min-width">
        <fieldset>
          <legend>Dados do Veículo</legend>

          <div class="formBlocks">
          <label from="vehicleModel" > Modelo:
            <input id="model" formControlName="vehicleModel" type="text" placeholder="Digite o modelo do veículo">
          </label>

          <label from="vehicleYear"> Ano:
          <input id="model" formControlName="vehicleYear" type="text" placeholder="Digite o ano do veículo">
          </label>

          <label from="renavam" >Renavam:
          <input id="model" formControlName="renavam" type="text" placeholder="Digite o Renavam do veículo">
          </label>

        </div>

        <div class="formBlocks">
          <label from="licensePlate" >Placa:
          <input id="model" formControlName="licensePlate" type="text" placeholder="Digite a placa do veículo">
          </label>
          <label from="chassi" >Chassi:
          <input id="model" formControlName="chassi" type="text" placeholder="Digite a Chassi do veículo">
          </label>
          <label from="mileage" >Quilometragem:
          <input id="model" formControlName="mileage" type="text" placeholder="Digite a quilometragem do veículo">
        </label>
        </div>
        <div class="formBlocks">
          <label from="category" >Categoria:
          <select id="category" formControlName="category" [ngModel]="categories" type="text">
          <option selected disabled value=""> Selecione a categoria do veículo</option>
          <option *ngFor="let category of categories" [ngValue]="category"> {{ category.name }}</option>

          </select>
          </label>
          <!-- <label from="category" > Valor diária:
            <input id="category"  {{ category.dayPrice }} type="text" >
          </label> -->
        </div>
        </fieldset>
        <mat-card-actions>
          <button class="formButton" mat-raised-button color="primary" (click)="onSubmit()">
            Salvar
          </button>
          <button  class="formButton" mat-raised-button (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
