<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>

      <div id="listItemLogo">
        <div id="logoText">AlôCar</div>
          <div id="logoImage">
            <img src="../../../assets/aloCarSymbol.png" alt="Logo AloCar" />
            </div>
      </div>

      <mat-divider id="logoDivider"></mat-divider>

      <mat-list-item id="listSearch">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Pesquisar</mat-label>
          <input matInput type="text" [(ngModel)]="value" />
          <button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value = ''"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item> <button mat-button (click)="homePage()"> Página Inicial</button></mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button >Clientes</button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button (click)="vehicles()"> Carros</button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
      <mat-list-item>Reservas</mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>Locações</mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>Sair</mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
