<mat-drawer-container class="example-container">
  <mat-drawer class="color-primary" mode="side" opened>
    <mat-list>

      <div id="listItemLogo">
        <div id="logoText">AlôCar</div>
        <div id="logoImage">
          <img src="../../../assets/aloCarSymbol.png" alt="Logo AloCar" />
        </div>
      </div>

      <mat-divider id="logoDivider"></mat-divider>

      <mat-list-item id="listSearch">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Pesquisar</mat-label>
          <input matInput type="text" [(ngModel)]="value" />
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item> <button mat-button (click)="homePage()"> Página Inicial</button></mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button [routerLink]="['/main/clients']">Clientes</button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button [routerLink]="['/main/vehicles']"> Carros</button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button [routerLink]="['/main/bookings']"> Reservas</button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button> Locações</button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button> Sair</button>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>

    <mat-toolbar class="color-primary">
      <app-header [title]="title"></app-header>
      <!--    <mat-toolbar>
      <div  class = "headerBar" *ngIf="router.url === '/main'">
        PÁGINA INICIAL
      </div>
      <div class = "headerBar" *ngIf="router.url === '/main/vehicles'">
        MENU VEÍCULOS
      </div>
      <div class = "headerBar" *ngIf="router.url === '/main/vehicles/list'">
        MENU VEÍCULOS
      </div>
      <div class = "headerBar" *ngIf="router.url === '/main/clients'">
        MENU CLIENTES
      </div>
      <div class = "headerBar" *ngIf="router.url === '/main/clients/list'">
        MENU CLIENTES
      </div>
      <div class = "headerBar" *ngIf="router.url === '/main/clients/registration'">
        MENU CLIENTES
      </div>
      <div *ngIf="router.url === '/main/bookings'">
        MENU RESERVAS
      </div>
      <div id="userIcon">
        <img src="../../../assets/userIcon.png" alt="User" />
        <p>User</p>
      </div>
-->
    </mat-toolbar>
    <router-outlet (activate)="setHeader()"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
