mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 20%;
}

.example-form-field {
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
}

input {
  padding: 0px;
}

figure {
  border: 1px solid red;
}

#logoDivider {
  margin-bottom: 10px;
  border-top-width: 3px;
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#listItemLogo {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

#logoImage {
  margin: 0px;
  width: 60%;
}

#logoImage img {
  width: 100%;
}

#logoText {
  margin-left: 10px;
}
mat-drawer-content {
  background-color: #4f5355;
}

//

mat-toolbar {
  justify-content: center;
  box-shadow: 0px 5px 5px 0px;
}

app-header {
  color: white;
  font-style: italic;
}
//

//mat-toolbar{
//  display: grid;
//  grid-template-columns: 85% 15%;
//  background-color: #696969;
//  color: #ffffff;
//}

.headerBar {
  text-align: center;
  padding-left: 10%;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  line-height: 75px;
}
#userIcon {
  display: grid;
  grid-template-columns: 30% 70%;
  font-style: normal;
  font-size: 20px;
}
