<div id="mainContent">
  <div id="mainContentHeader">
    <span>Listagem dos Carros</span>
  </div>
<mat-card>
  <mat-table [dataSource]="vehicles$" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{ vehicle.vehicleStatus }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.category.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="modelo">
      <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleModel}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ano">
      <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleYear}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> add </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</mat-card>
</div>
