<div id="mainContent">
  <div id="header">
    <div id="searchVehicle">
      <div id="arrowBack">
        <a [routerLink]="['/main/vehicles']">
          <mat-icon id="arrowBackIcon">arrow_back</mat-icon>
        </a>
      </div>
      <div id="inputSearch">
        <span> Buscar </span>
        <input
          (keyup)="applyFilter($event)"
          placeholder="Ex. Corsa"
          #input
          class="clientSearchParamInput"
        />
      </div>
    </div>
  </div>
  <mat-card>
    <div id="mainTextHeader">
      <span>Listagem dos Carros</span>
    </div>
    <section class="container">
      <mat-card-content>
        <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="vehicleStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              <mat-icon
                *ngIf="vehicle.vehicleStatus == 'AVAILABLE'"
                aria-hidden="false"
                aria-label="Example home icon"
                class="{{ vehicle.vehicleStatus }} status"
                fontIcon="circle"
              ></mat-icon>
              <mat-icon
                *ngIf="vehicle.vehicleStatus == 'MAINTENANCE'"
                aria-hidden="false"
                aria-label="Example home icon"
                class="{{ vehicle.vehicleStatus }} status"
                fontIcon="adjust"
              ></mat-icon>
              <mat-icon
                *ngIf="vehicle.vehicleStatus == 'UNAVAILABLE'"
                aria-hidden="false"
                aria-label="Example home icon"
                class="{{ vehicle.vehicleStatus }} status"
                fontIcon="pause_circle"
              ></mat-icon>
              <mat-icon
                *ngIf="vehicle.vehicleStatus == 'DISABLE'"
                aria-hidden="false"
                aria-label="Example home icon"
                class="{{ vehicle.vehicleStatus }} status"
                fontIcon="cancel"
              ></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="categoryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Categoria
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              {{ vehicle.categoryName }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="licensePlate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Placa
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              {{ vehicle.licensePlate }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="vehicleModel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Modelo
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              {{ vehicle.vehicleModel }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="vehicleYear">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Ano
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              {{ vehicle.vehicleYear }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Opções
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Menu do veículo"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit(vehicle.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="details(vehicle.id)">
                  <mat-icon>info</mat-icon>
                  <span>Detalhes</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </mat-table>
      </mat-card-content>
    </section>
  </mat-card>

  <footer>
    <div id="footerCaption">
      <div class="singleCaption">
        <mat-icon
          aria-hidden="false"
          aria-label="Ícone de legenda disponível"
          class="caption AVAILABLE"
          fontIcon="circle"
        ></mat-icon>
        <span>Disponível</span>
      </div>

      <div class="singleCaption">
        <mat-icon
          aria-hidden="false"
          aria-label="Ícone de legenda indisponível"
          class="caption UNAVAILABLE"
          fontIcon="pause_circle"
        ></mat-icon>
        <span>Indisponível</span>
      </div>

      <div class="singleCaption">
        <mat-icon
          aria-hidden="false"
          aria-label="Ícone de legenda em menutenção"
          class="caption MAINTENANCE"
          fontIcon="adjust"
        ></mat-icon>
        <span>Em manutenção</span>
      </div>

      <div class="singleCaption">
        <mat-icon
          aria-hidden="false"
          aria-label="Ícone de legenda desabilitado"
          class="caption DISABLE"
          fontIcon="cancel"
        ></mat-icon>
        <span>Desabilitado</span>
      </div>
    </div>
  </footer>
</div>
